@import '@/utilites/sass/var'
  
.CommentForm
  margin-bottom: 32px
  display: flex
  flex-direction: column


.CommentFormTitle
  font-size: 28px
  color: #333
  margin-bottom: 16px

.Input
  width: 100%
  height: 40px
  font-size: 20px
  line-height: 20px
  padding: 8px 
  color: #333
  border: 1px solid #d0d7de
  border-radius: 4px
  margin-bottom: 16px

.Editor
  margin-bottom: 16px

.CommentButton
  @include button

  &:hover
    filter: opacity(0.9)

  &:active
    filter: brightness(0.8) contrast(1.2)
    border-bottom: 1px solid #1565c0
    border-top: 1px solid #42a5f5