.LeadImg
  height: 280px
  overflow: hidden
  display: flex
  align-items: center
  justify-content: center
  margin-bottom: 32px
  margin-top: 32px
  background-color: #2c3949

.ContentWrp
  padding-bottom: 32px
  margin-bottom: 32px
  border-bottom: 2px dotted #ccc 